<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/> -->
    <title>YOUR AWESOME SITE</title>
</head>
<body>

<p>Click the button to get your coordinates.</p>

<button th:onclick="${'getLocation()'}">Try It</button>

<p id="demo"></p>
<!--<main id="root"></main>-->
</body>
<script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script th:inline="javascript" >
    /*<![CDATA[*/
    //var jsonObject;
    let x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        lat = position.coords.latitude;
        long = position.coords.longitude;

        console.log(long, lat);
        //return latitude, longitude
        //jsonObject = {
            //"latitude": window.lat,
            //"longitude": window.long
        //};
        //return {
           // latitude: lat,
           // longitude: long
        //}


    //var result = showPosition();
    //var latitude =result.latitude;
    //var longitude = result.longitude;

  let jsonObject = {
       "latitude": lat,
      "longitude": long
   };
console.log(lat, long);


 $.ajax ({
     url: "test.html",
     type: "POST",
     contentType: "application/json; charset=utf-8",
     data: JSON.stringify(jsonObject),
     async: false,
     cache: false,
     processData: false,

     //success: function (data) {
     //return data;
     //}


});}

    /*]]>*/

</script>


</html>
